* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.caja_principal {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.caja_boton {
  text-align: center; 
  background-color: black;
  padding: 10px;
}

.boton_navegador{
  background-color: #fff; 
  border: none;
  padding: 10px 20px; 
  border-radius: 20px; 
  display: flex;
  align-items: center; 
}

.imagen_navegar {
  width: 20px; 
  height: 20px; 
  margin-right: 8px;
}

.texto_navegar{
  font-weight: bolder;
  font-size: 18px;
}

.caja_direccion{
  background-color: #fff;
  display: flex;
  padding: 13px;
  gap: 10px;
}

.caja_persona_nombre {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 800;
  gap: 5px;
}

.texto_direccion_uno {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.texto_direccion_dos {
  font-weight: 500;
  font-size: 18px;
}


.caja_tipo_paga {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

.texto_pago {
  font-weight: 500;
  font-size: 14px;
}

.caja_imagenes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.imagen_yape {
  width: 22px;
  border-radius: 5px;
}

.imagen_persona {
  width: 45px;
}

.imagen_telefono {
  background-color: blue;
  border-radius: 20px;
  padding: 5px;
  width: 35px;
}

.imagen_mensaje {
  background-color: blue;
  border-radius: 20px;
  width: 35px;
  padding: 5px;
}

.boton_finalizar {
  background-color: blue;
  width: 90%;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  font-size: 22px;
  border: none;
  display: flex;
  justify-content: center;
  margin-left: 15px
};